body {
    background-color: aqua;
    color: gray;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 2px solid red;
}